html {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./pattern.jpeg");
}
.brushes {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
.blue {
  font-weight: bold;
  color: blue;
}
.frames {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
.paint {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
body {
  border: solid 115px beige;
  padding: 8px 8px 8px 8px;
}
